<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify Recommendations</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    </head>
    <body>
        <h1>Spotify Playlist Recommendations</h1>
        <form method="POST">
            <label for="playlistNumber">Enter the number of the playlist you want to view:</label>
            <select id="playlistNumber" name="playlistNumber" required>
                {% for index in range(playlists|length) %}
                    <option value="{{index + 1}}">{{playlists[index]['name']}}</option>
                {% endfor %}
            </select>
            <button type="submit">Get Recommendations</button>
        </form>
        {% if recommendedTracksArr %}
            <h2>Recommended Tracks:</h2>
            <u1>
                {% for track in recommendedTracksArr %}
                    <li>
                        {{track.name}} by 
                        {% for artist in track.artists %}
                            {{artist}}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </u1>
        {% endif %}
    </body>
</html>